.custom-input {
    background-color: var(--input-bg-color, rgba(0, 0, 0, 0.4));
    color: var(--input-text-color, white);
    border: 1px solid var(--input-border-color, #ccc);
}

.custom-input::placeholder {
    color: var(--input-placeholder-color, #aaa);
}